/* General Animations */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Header Animations */
@keyframes headerSlideIn {
    to {
        transform: translateX(calc(var(--direction) * 590px)); /* Move to final position */
        opacity: 1;
    }
}

/* Cover Animations */
@keyframes aboutMeSkillsFillIn {
    to {
        background-color: #1C4DCA;
    }
}

