@import url('gambetta.css');
@import url('general-sans.css');
@import url('animations.css');

:root {
    --background-color: #10100E;
    --cover-main-color: #8597A1;
    --about-me-first-color: #9FA990;
    --about-me-second-color: #D0D2C5;
    --about-me-third-color: #1C4DCA;
    --about-me-fourth-color: #99B0BD;
    --work-first-color: #885E38;
    --work-second-color: #F0B269;

    --main-font: 'GeneralSans-Semibold';
    --main-font-medium: 'GeneralSans-Medium';
    --secondary-font: 'Gambetta-Medium';
}

body {
    background-color: var(--background-color);
}

hr {
    margin: 0;
    height: 5px;
}

/* Start Header */
.header {
    margin-top: 1.5em;
    height: 80px;
    display: flex;
    flex-direction: column;
}

.header .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header .logo .logo-a,
.header .logo .logo-semi {
    animation: headerSlideIn 0.6s 0.5s ease forwards;
}

.header .logo .logo-a {
    --direction: -1; 
}

.header .logo .logo-semi {
    --direction: 1; 
}

.header .links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeIn 0.6s 0.6s ease forwards;
}

.header .links a {
    text-decoration: none;
    color: var(--cover-main-color);
    font-size: 1.5rem;
    font-family: var(--main-font-medium);
    transition: 0.2s;
}

.header .links a:hover {
    color: white;
}
/* End Header */

/* Start Cover */
.cover .text h1 {
    color: var(--cover-main-color);
    margin: 0;
    font-family: var(--main-font);
    transform: translateX(-2.5px);
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.cover .text .sub-text p {
    margin: 0;
    font-family: var(--secondary-font);
    color: var(--cover-main-color);
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.cover .cover-text {
    height: 144px;
    transform: translateX(-1px);
    background-image: url(../imgs/cover-text.png);
    background-repeat: no-repeat;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.cover .cover-img {
    height: 650px;
    border-radius: 0 25px 25px 25px;
    background-image: url(../imgs/cover-img.png);
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.cover hr {
    color: var(--cover-main-color);
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
/* End Cover */

/* Start About Me */
/** Start About Me Main **/
.about-me .about-me-main h1 {
    color: var(--about-me-first-color);
    font-family: var(--main-font);
    font-size: 4rem;
    margin: 0;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.about-me .about-me-main hr {
    color: var(--about-me-first-color);
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.about-me .about-me-main p {
    color: var(--about-me-second-color);
    font-family: var(--secondary-font);
    font-size: 1.25rem;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.about-me .about-me-main .special {
    color: var(--about-me-third-color);
}

.about-me .about-me-main .about-me-img {
    height: 100%;
    background-image: url(../imgs/about-me-img.jpg);
    background-size: cover;
    background-position-x: -275px;
    border-radius: 25px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    transition: 0.2s;
}
/** End About Me Main **/

/** Start About Me Skills **/
.about-me .about-me-skills h1 {
    text-align: center;
    color: var(--about-me-first-color);
    font-family: var(--main-font);
    font-size: 4rem;
    margin: 0;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.about-me .about-me-skills hr {
    color: var(--about-me-first-color);
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.about-me .about-me-skills .skill {
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.about-me .about-me-skills .skill p {
    color: white;
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    margin: 0;
}

.about-me .about-me-skills .skill .skill-levels .completed {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: var(--about-me-fourth-color);
    animation: aboutMeSkillsFillIn 0.5s 0.2s ease forwards;
    transition: 0.2s;
}

.about-me .about-me-skills .skill .skill-levels .completed:hover {
    transform: scale(125%);
}

.about-me .about-me-skills .skill .skill-levels .not-completed {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: var(--about-me-fourth-color);
    transition: 0.2s;
}

.about-me .about-me-skills .skill .skill-levels .not-completed:hover {
    transform: scale(125%);
}

.about-me .about-me-skills .skill .html {
    width: 50px;
    height: 50px;
    background-image: url(../imgs/html5.png);
    transition: 0.2s;
}

.about-me .about-me-skills .skill .html:hover {
    background-image: url(../imgs/html5-colored.png);
    transform: scale(110%);
}

.about-me .about-me-skills .skill .css {
    width: 50px;
    height: 50px;
    background-image: url(../imgs/css3.png);
    transition: 0.2s;
}

.about-me .about-me-skills .skill .css:hover {
    background-image: url(../imgs/css3-colored.png);
    transform: scale(110%);
}

.about-me .about-me-skills .skill .sass {
    width: 50px;
    height: 50px;
    background-image: url(../imgs/sass.png);
    transition: 0.2s;
}

.about-me .about-me-skills .skill .sass:hover {
    background-image: url(../imgs/sass-colored.png);
    transform: scale(110%);
}

.about-me .about-me-skills .skill .js {
    width: 50px;
    height: 50px;
    background-image: url(../imgs/javascript.png);
    transition: 0.2s;
}

.about-me .about-me-skills .skill .js:hover {
    background-image: url(../imgs/javascript-colored.png);
    transform: scale(110%);
}

.about-me .about-me-skills .skill .ts {
    width: 50px;
    height: 50px;
    background-image: url(../imgs/typescript.png);
    transition: 0.2s;
}

.about-me .about-me-skills .skill .ts:hover {
    background-image: url(../imgs/typescript-colored.png);
    transform: scale(110%);
}

.about-me .about-me-skills .skill .csharp {
    width: 50px;
    height: 50px;
    background-image: url(../imgs/csharp.png);
    transition: 0.2s;
}

.about-me .about-me-skills .skill .csharp:hover {
    background-image: url(../imgs/csharp-colored.png);
    transform: scale(110%);
}

.about-me .about-me-skills .skill .mssqlserver {
    width: 50px;
    height: 50px;
    background-image: url(../imgs/mssqlserver.png);
    transition: 0.2s;
}

.about-me .about-me-skills .skill .mssqlserver:hover {
    background-image: url(../imgs/mssqlserver-colored.png);
    transform: scale(110%);
}

.about-me .about-me-skills .skill .dotnetcore {
    width: 50px;
    height: 50px;
    background-image: url(../imgs/dotnetcore.png);
    transition: 0.2s;
}

.about-me .about-me-skills .skill .dotnetcore:hover {
    background-image: url(../imgs/dotnetcore-colored.png);
    transform: scale(110%);
}
/** End About Me Skills **/

.about-me hr {
    color: var(--about-me-first-color);
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
/* End About Me */

/* Start Work */
/** Start Work Main **/
.work .work-main h1 {
    text-align: end;
    color: var(--work-first-color);
    font-family: var(--main-font);
    font-size: 4rem;
    margin: 0;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.work .work-main hr {
    color: var(--work-first-color);
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.work .work-main p {
    color: var(--work-second-color);
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    margin: 0;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.work .work-main .project {
    position: relative;
}

.work .work-main .project:hover .overlay {
    width: 50%;
    border-radius: 25px 0 0 25px;
}

.work .work-main .project .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(18,23,2) 25%, rgba(0,0,0,1) 100%);
    border-radius: 25px;
    transition: 0.2s;
}

.work .work-main .project .overlay .text small {
    color: var(--work-first-color);
    font-family: var(--secondary-font);
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.work .work-main .project .overlay .text h4 {
    color: var(--work-second-color);
    font-family: var(--main-font);
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.work .work-main .project .overlay .text h6 {
    color: var(--work-second-color);
    font-family: var(--main-font-medium);
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.work .work-main .project .overlay .text a {
    color: var(--work-first-color);
    font-family: var(--secondary-font);
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.work .work-main .project .overlay .text .icons img {
    width: 25px;
    height: 25px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.work .work-main .work-img {
    height: 100%;
    background-image: url(../imgs/work-img.jpg);
    background-size: cover;
    border-radius: 25px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
/** End Work Main **/

/** Start Work Services **/
.work .work-services h1 {
    text-align: center;
    color: var(--work-first-color);
    font-family: var(--main-font);
    font-size: 4rem;
    margin: 0;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.work .work-services hr {
    color: var(--work-first-color);
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.work .work-services .services {
    display: flex;
    justify-content: space-between;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.work .work-services .services .service {
    width: calc((100% / 3) - 10px);
    height: 400px;
    border-radius: 25px;
    position: relative;
}

.work .work-services .services .service .overlay {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(18,23,2,1) 25%, rgba(18,23,2,1) 50%, rgba(0,0,0,1) 100%);
    opacity: 1;
    border-radius: 25px;
    position: absolute;
    transition: 0.2s ease-in-out;
}

.work .work-services .services .service .overlay-hover {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #885E38 25%, #F0B269 100%);
    opacity: 0;
    border-radius: 25px;
    position: absolute;
    transition: 0.2s ease-in-out;
}

.work .work-services .services .service .overlay-img {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.8;
    z-index: 0;
    transition: 0.2s;
}

.work .work-services .services .service .overlay-hover-img {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: 0;
    transition: 0.2s;
}

.work .work-services .services .service .box .text {
    z-index: 1;
}

.work .work-services .services .service .box .text h3 {
    color: var(--work-second-color);
    font-family: var(--main-font);
    transition: 0.2s;
}

.work .work-services .services .service .box .text p {
    color: white;
    font-family: var(--secondary-font);
    transition: 0.2s;
}

.work .work-services .services .service:hover .overlay {
    opacity: 0;
}

.work .work-services .services .service:hover .overlay-hover {
    opacity: 1;
}

.work .work-services .services .service:hover .overlay-img {
    opacity: 0;
}

.work .work-services .services .service:hover .overlay-hover-img {
    opacity: 0.8;
}

.work .work-services .services .service:hover .text h3 {
    color: #121603;
}

.work .work-services .services .service:hover .text p {
    color: black;
}
/** End Work Services **/

.work hr {
    color: var(--work-first-color);
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
/* End Work */